.about{
    text-align: center;
}

.mason-col{
    flex-basis: 31%;
    background: #e8e7a1;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 1s;
}

p{
    color:rgba(164, 117, 217, 0.75);
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
  
}

.michael-col{
    flex-basis: 31%;
    background: #caf0d6;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 1s;
}

.sania-col{
    flex-basis: 31%;
    background: #eadcfd;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 1s;
}

.ashley-col{
    flex-basis: 31%;
    background: #b8eaff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 1s;
}