body{
    background-image: {{ url_for('static', filename='drexelsymbol.png') }};
    background-image: linear-gradient(#f8ecf7, #a5caf4);
}

h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #002f6c;
    font-family: 'Mixa Semi Bold';
}
button{
       width: 300px;
       padding: 20px 0;
       text-align: center;
       margin: 20px 10px;
       border-radius: 30px;
       font-weight: bold;
       border: 3px solid #99a6cc;
       background: #d7def1;
       color: #1d365a;
       cursor: pointer;
       position: relative;
       overflow: hidden;
}


.top-left {
            top: 10;
            left: 0;
        }
.top-right {
            top: 10;
            right: 0;
        }

.mid-left {
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
.mid-right {
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
.bottom-left {
            bottom: 0;
            left: 0;
        }
.bottom-right {
            bottom: 0;
            right: 0;
        }
.mid-center {
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
