*{
      margin: 0;
      padding: 0;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }

.header{
      height: 98vh;
      width: 100%;
      background-image: url("main.jpg");
      background-size: cover;         
}

nav{
      display: flex;
      padding: 2% 5%;
      justify-content: space-between;
      align-items: center;
}
  nav img{
        width: 180px;
  }
  .nav-links{
        flex: 1;
        text-align: center;
       
  }
  .nav-links ul li{
        list-style: none;
        display: inline-block;
        padding : 0 20px;
        position: relative;
  }
  .nav-links ul li a{
        text-decoration: none;
        color: #fef881;
        text-transform: uppercase;
      
        
  }
   
  .logo{
         width: 230px;
         align-items: left;
   }
   
   .nav-links ul li::after{
         content: '';
         height: 10px;
         width: 0;
         background: rgba(255, 249, 162, 0.75);
         position: absolute;
         left: 0;
         bottom: -10px;
         transition: 0.75s;
   }
   .nav-links ul li:hover::after{
         width: 100%;
   }
   
  .degreework{
         width: 50%;
         position: absolute; 
         top: 50%;
         transform: translateY(-50%);
         text-align: center ;
         color: #fff;
        
   }
  .degreework h1{
         font-size: 40px;
         margin-top: 80px;
         flex-basis: 50%;
   }
   
   .degreework p{
         margin: 20px auto;
         font-weight: 100;
         line-height: 25px;
         flex-basis: 50%;
   }   
   button{
         width: 200px;
         padding: 15px 0;
         text-align: center;
         margin: 20px 10px;
         border-radius: 25px;
         font-weight: bold;
         border: 2px solid #749ecb;
         background: transparent;
         color: #4a5894;
         cursor: pointer;
         position: relative;
         overflow: hidden;
   
   }
   span{
         background: #bed8ed;
         height: 100%;
         width: 100%;
         border-radius: 25px;
         position: absolute;
         left: 0;
         bottom: 0;
         z-index:-1;
   }
   
   h1:first-of-type{
      font-size: 30px;
      color: #fef881;
      flex-basis: 50%;
}

   p:first-of-type {
        font-size: 18px;
        color: #c8dfff;
        flex-basis: 20%;
        background-color: #203572;
      }
h1:nth-of-type(2){
      font-size:25px;
      color:#203572;
      flex-basis: 50%;
}
.pos{
      width: 80%;
      margin: auto;
      text-align: center;
      padding-top: 100px;
      
}

.course-col{
      flex-basis: 31%;
      background: #99a6cc;
      border-radius: 10px;
      margin-bottom: 5%;
      padding: 20px 12px;
      box-sizing: border-box;
      transition: 1s;
}

    .pos h1 {
      font-size: 32px;
      margin-bottom: 10px;
      color: #4a5894;
    }
    .pos h3{
      font-size:20px;
      margin-bottom: 10px;
      color:#4a5894;
    }
    
    .pos p {
      font-size: 18px;
      line-height: 1.5;
      color: #193f67;
      background-color: transparent;
    }
    
    .pos .row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    
    .pos .course-col {
      width: calc(33.33% - 20px);
      background-color: #bed8ed;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
    }
  
