<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='aboutstyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">

    <title> Our Team </title>
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>Our Team</h1>
        </div>
        <div class="sub-container">
            <div class="team1">      
        <img src="{{ url_for('static', filename='Masonprofile.png') }}" height="150px" width="100px" >
        <div class="name">Mason McClintic </div>
        <div class="title">Back-end Developer</div>
        <div class='bio'> Mason McClintic is a first year Computer Science student at Drexel University. His current focus is on web scrapping and website backend intergration</div>
      </div>

            <div class="team2">
                <img src="{{ url_for('static', filename='Michaelprofile.jpg') }}" height="150px" width="100px" >
                <div class="name">Michael Moldavchuk </div>
                <div class="title">Back-end Developer</div>
                <div class='bio'> Michael Moldavchuk is a first year Data Science student at Drexel University.  His current focus is on cleaning data and implemanting data into algorithms</div>
        </div>            

            
            <div class="team3">
                <img src="{{ url_for('static', filename='sania.jpg') }}" height="150px" width="100px" >
                <div class="name">Sania Mirza</div>
                <div class="title">Front-end Developer</div>
                <div class='bio'> Sania Mirza is a first-year software engineering student at Drexel University. Her current focus is on web development and software development </div>
        </div>

            <div class="team4">
                <img src="{{ url_for('static', filename='ashley.jpg') }}" height="150px" width="100px" >
                <div class="name">Ashley Phan</div>
                <div class="title">UI/UX designer</div>
                <div class='bio'> Ashley Phan is a first-year software engineering student at Drexel University. Her current focus on the front-end development which allow her to combine creativity and technical skills to build user-friendly, and visually appealing websites and applications.</div>
        </div>

            </div>
        </div>
    </div>
</div>
</body>

</html>
