<!DOCTYPE html>
<html>
<nav>
  <ul>
        <li><a href = "{{ url_for('index') }}">Home</a></li>
        <li><a href = "{{ url_for('allmajor') }}">All Major</a></li>
    </ul>
 </nav>   
<head>
    <meta name="viewport"c ontent="width=device-width; initial-scale=1; shrink-to-fit=no;">

    <link rel="stylesheet" href="{{ url_for ('static' , filename='allmajor.css') }}">

    <div style = "text-align:left;"><img src="{{ url_for('static', filename='mainlogo.png')}}" class="logo"></div> 
    <title> Computing and Informatic Majors</title>
    <h2> Please Choose Your Major</h2>
</head>
<style>
    div{
        text-align: center;
    }
</style>


<div class=" top-left">
<a href ="{{ url_for('degree', degreename='CS')}}">
<button type="button"><span></span>Computer Science</button> </a>
</div>   

<div class="top-right">
<a href = "{{url_for('degree',degreename='SE')}}">
<button type="button"><span></span>Software Engineering</button> </a>
</div>

<div class=" mid-left">
<a href="{{url_for('degree',degreename='DS')}}">
<button type="button" ><span></span> Data Science</button> </a>
</div>

<div class="mid-right">
<a href = "{{url_for('degree', degreename='CST')}}">
<button type="button"><span></span> Computing and Security Technology</button></a>
</div>

<div class=" bottom-left">
<a href = "{{url_for('degree', degreename='EDS')}}">
<button type="button"><span></span> Economics and Data Science</button> </a>
</div>

<div class=" bottom-right">
<a href = "{{url_for('degree', degreename='IS')}}">
<button type="button"><span></span>Information Systems</button></a>
</div>



