<!DOCTYPE html>
<html>
<head>
    <meta name="viewport"  content="with=device-width, initial-scale=1.0">
    <title> Drexel University's Plan of Study</title>
</head>

<body style="background-image: linear-gradient( #f8ecf7, #a5caf4);"> 
<!---header section starts right here-->

     <section class="header">
        <nav>
        <div class="nav-links" id = "navLinks">
            <i class = "fa fa-times" onclick="hideMenu()"></i>
            <div style = "text-align:left;"><img src= "{{ url_for('static', filename='logo_yellow.png') }}" class="logo"></div>

            <ul>
                <link rel="stylesheet" href="{{ url_for ('static' ,filename='style.css') }}">
                <li class="active"><a href = "{{ url_for('index') }}">Home</a></li> 
                <li class="active"><a href = "{{ url_for('allmajor') }}">POS</a></li> 
               <li class="active"><a href = "{{ url_for('about') }}">About Us</a></li>
            </ul>
         </nav>

        </div>
        
        <div style="display: flex; justify-content: center;">
        <i class = "fa fa-times" onclick= "showMenu()"></i>
        <div class="degreework">
            <h1>POS. CAUSE PLANNING IS HARD</h1>
            <p>Transform Your Study Habits with the Power of Planning We're Here to Help </p>
        <div>
            <a href="{{ url_for('allmajor') }}">
                <button type="button"><span></span>Generate POS</button>
            </a>
        </div>
    </div> 
     </section>

<!---------POS------------>
<section class="pos">
   <h1> What is POS?</h1>
   <p>"Welcome to the world of efficient and organized 
    studying! We are excited to introduce you to our new Plan 
    of Study Generator web page, designed to help you take control
    of your studies and achieve academic success. With our innovative tool, 
    you can easily create a personalized study plan that fits your schedule,
    and balancing your coursework. Whether you're a CCI student or someone 
    looking to improve their study habits, our POS is the solution you've
    been searching for. So why wait? Start taking the first step towards better 
    grades and a brighter future, today!"  </p>
<div class="row">

    <div class="course-col">
        <h3>How does POS work?</h3>
        <p>This generator will use data parsed from Drexel's course catalog
        and term master schedule. Then an algorithm will rank courses on importance
        and fill up an individual's quarters to create a plan of study. </p>
    </div>

    <div class="course-col">
        <h3>What can we do? </h3>
        <p>Features of this product are that a user can input their co-op cycle,
         APs, planned graduation year and minors they are interested in. This 
         will be shown on a website and it will include the plan of study and 
         an individual's degree requirements. In addition, within the plan of 
         study certain courses will be highlighted to emphasize that they are the 
         most important to take.
        </p>
    </div>

    <div class="course-col">
        <h3>Why, us?</h3>
        <p>It will provide an interactive and user-friendly interface, making it easy for
        users to modify their plan and adapt it to their changing needs. So users can stay
         on top of their studies and avoid falling behind</p>
    </div>

   </div>
</section >

<style>
    body{
      border: 9px solid #dbd2fd;
      
 }
</style>

<!--Javascript for the menu-->
<script>
    var navlinks = document.getElementById("navlinks");
    function showMenu(){
        navlinks.style.right = "0";
    }
    function hideMenu(){
        navlinks.style.right  = "-200px";
    }


</script>


</body>
</html>
