<!DOCTYPE html>
<title> Temp</title>

    <h1> This is a temp page</h1>
    <form action="{{ url_for('temp') }}" method="post" id="form">
        <input type="checkbox" from="temp" name="name" >
        <input type="text" from="temp" name="major">
        <input type="submit" value="Submit">
    </form>

    <p id="testing">
        This is where the data will be displayed
    </p>
   <Script>
    let data = document.getElementById("form");
    data.addEventListener("submit", function(e){
        e.preventDefault();
        let name = data.elements.name.value;
        let major = data.elements.major.value;
        let form = {
            name: name,
            major: major

        };

        fetch('{{url_for("testfn2")}}', {
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            method: 'POST',
            body: JSON.stringify(form)
        })
        .then(response => response.json())
    .then((data) => {
        text = document.getElementById("testing");
        text.innerHTML = data;
    })
        .catch(err => console.log(err))

        console.log(name);
        console.log(major);
    })
   </Script>

